# Dependencies

node_modules/

# Environment files

.env
.env.*

# Build files

dist/
build/

# Logs

logs/
*.log

# Kubernetes secrets

secret.yml
secrets.yml
*kube-secret*

# IDE

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db
